@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom classes here */
.w-screen{
    width: 100vw;
}

.h-screen{
    height: 100vh;
}

.correct{
    background-color: rgb(83, 141, 78);
    animation-name: flip;
    animation-duration: 0.5s;
}

.correct-g{
    background-color: rgb(83, 141, 78);
}

.almost-correct-g{
    background-color: rgb(181, 159, 59);
}

.wrong-g{
    background-color: rgb(58,58,60);;
}

.almost-correct{
    background-color: rgb(181, 159, 59);
    animation-name: flip;
    animation-duration: 0.5s;
}

.wrong{
    background-color: rgb(58,58,60);
    animation-name: flip;
    animation-duration: 0.5s;
}

.white{
    border-color: rgb(188, 191, 194);
}

@keyframes flip {
    0%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1);
    }
}

@keyframes shake {
    10%,
    90% {
      transform: translateX(-1px);
    }
    20%,
    80% {       
      transform: translateX(2px);
    }
    30%,
    50%,
    70% {
      transform: translateX(-4px);
    }
    40%,
    60% {
      transform: translateX(4px);
  }
}
.invalid-word {
    animation-name: shake;
    animation-duration: 0.75s;
}

.ease-in{
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    transition-duration: 300ms;
}

.modal{
    border-radius:10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

 .modal-on{
    background-color: rgb(0,0,0); /* Fallback color */
     background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
} 

.height{
    height: 90vh;
}

.height-max{
    height: 110vh;
    overflow: hidden;
}
.width{
    width: 100vw;
}
.width-max{
    width: 150vw;
}
#modal, #winModal{
    animation-name: slide-in;
    animation-duration: 0.25s;
  
}

@keyframes slide-in {
    0% {
      transform: translateY(50%);
    }
    /* 50%{
        transform: translateY(25%);
    } */
    100% {
      transform: translateY(0);
    }
  }
  
  
  .slide-out{
    animation-name: slide-out;
    animation-duration: 0.5s;
  }
  
  @keyframes slide-out {
    0% {
      transform: translateY(0%);
    }
    /* 50%{
        transform: translateY(25%);
    } */
    
     100%{ transform: translateY(50%);
    }
  }
  

@media only screen and (height: 720px) {
    #kb-cont{
        height:240px;
        width: 300px;
    }

    #kb-cont > * > * {
        height: 28px;
        width: 30px;
        font-size: 15px;
        padding-top: 0px;
    }


}