@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom classes here */
.w-screen{
    width: 100vw;
}

.h-screen{
    height: 100vh;
}

.correct{
    background-color: rgb(83, 141, 78);
    animation-name: flip;
    animation-duration: 0.5s;
}

.correct-g{
    background-color: rgb(83, 141, 78);
}

.almost-correct-g{
    background-color: rgb(181, 159, 59);
}

.wrong-g{
    background-color: rgb(58,58,60);;
}

.almost-correct{
    background-color: rgb(181, 159, 59);
    animation-name: flip;
    animation-duration: 0.5s;
}

.wrong{
    background-color: rgb(58,58,60);
    animation-name: flip;
    animation-duration: 0.5s;
}

.white{
    border-color: rgb(188, 191, 194);
}

@keyframes flip {
    0%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1);
    }
}
@keyframes shake {
    10%,
    90% {
      transform: translateX(-1px);
    }
    20%,
    80% {       
      transform: translateX(2px);
    }
    30%,
    50%,
    70% {
      transform: translateX(-4px);
    }
    40%,
    60% {
      transform: translateX(4px);
  }
}
.invalid-word {
    animation-name: shake;
    animation-duration: 0.75s;
}

.ease-in{
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    transition-duration: 300ms;
}